.resourceLocatorDisplayOptions {
    display:            flex;
    flex-direction:     row;
    margin-top:         0rem;
    margin-left:        0rem;
    margin-right:       0rem;
    margin-bottom:      2rem;
}
