.resourceLocatorHeadingLine {
    margin-top:         5rem;
    height:             2rem;
    background-color:   rgba(200, 200, 200, 1);
}

.resourceLocatorHeadingText {
    font-size:          var(--fontSizeXS);
    color:              var(--textColorDim);
}
