.resourceLocatorInfomodeData {
    margin-top:         0.5em;
}

.resourceLocatorInfomodeDataRow {
    margin-top:         0;
    display:            flex;
    flex-direction:     row;
    // Increase height with font size.
    height:             calc(18rem + 10rem * (var(--fontScale) - 1));
}

.resourceLocatorInfomodeDataRowHeading {
    flex-grow:          1;
}

.resourceLocatorInfomodeDataRowValue {
    text-align:         right;
}

.resourceLocatorInfomodeDataRowBottom {
    margin-bottom:      0.5em;
}

.resourceLocatorInfomodeButton {
    // Default padding is 6rem on all sides.
    padding-top:        0rem;           // Leave less space on top.
    padding-left:       2rem;           // Leave less space on left.
    padding-right:      2rem;           // Leave less space on right.
    padding-bottom:     0rem;           // Leave less space on bottom.
}

.resourceLocatorInfomodeButton + .resourceLocatorInfomodeButton {
    margin-top:         var(--gap2);    // Default space between infomodes is gap5.
}

.resourceLocatorInfomodeIcon {
    height:             22rem;          // Larger than building color check box because all resource icons have extra blank space.
    width:              22rem;          // Match height.
    margin-right:       4rem;           // Space between icon and color symbol.
}

.resourceLocatorInfomodeColorSymbol {
    height:             18rem;          // Match height of building color check box.
    width:              18rem;          // Match height.
    margin-right:       4rem;           // Space between color symbol and title.
}

.resourceLocatorInfomodeBars {
    display:            flex;
    flex-direction:     row;
    flex-grow:          1;
    flex-shrink:        1;
    flex-basis:         auto;
    position:           relative;
    height:             18rem;
}

.resourceLocatorInfomodeBarStorage, .resourceLocatorInfomodeBarProduces {
    margin-right:       4rem;
    height:             18rem;
    flex-grow:          1;

    // Copied from game's Production progress bars:
    background-color:   rgba(0, 0, 0, 0.22);
    border-radius:      3rem;
    position:           relative;
}

.resourceLocatorInfomodeBarStorage {
    flex-basis:         98%;    // Less than 100% to provide space for a right margin.
}

.resourceLocatorInfomodeBarProduces {
    flex-basis:         23%;    // Less than 25% to provide space for 4 right margins.
}

.resourceLocatorInfomodeBarPercentStorage,
.resourceLocatorInfomodeBarPercentProduction,
.resourceLocatorInfomodeBarPercentSurplus,
.resourceLocatorInfomodeBarPercentDeficit {
    width:              100%;
    height:             100%;
    position:           relative;
    overflow-x:         hidden;
    overflow-y:         hidden;
    border-radius:      3rem;
}

:root {
    --resourceLocatorStorageColor:      rgba(192, 128, 0, 1);       // A shade of orange to use for storage bars.
    --resourceLocatorProductionColor:   var(--progressColor);       // Color used on Production panel of City Economy view for the production bar.
    --resourceLocatorSurplusColor:      var(--positiveColor);       // Color used on Production panel of City Economy view for the surplus    bar.
    --resourceLocatorDeficitColor:      var(--negativeColor);       // Color used on Production panel of City Economy view for the deficit    bar.
}

.resourceLocatorInfomodeBarPercentStorage {
    background-color:   var(--resourceLocatorStorageColor);
}

.resourceLocatorInfomodeBarPercentProduction {
    background-color:   var(--resourceLocatorProductionColor);
}

.resourceLocatorInfomodeBarPercentSurplus {
    background-color:   var(--resourceLocatorSurplusColor);
}

.resourceLocatorInfomodeBarPercentDeficit {
    background-color:   var(--resourceLocatorDeficitColor);
}

.resourceLocatorInfomodeBarCover {
    width:              100%;
    height:             100%;
    position:           relative;
    overflow-x:         hidden;
    overflow-y:         hidden;
    background-color:   rgba(80, 80, 80, 1);
}

.resourceLocatorInfomodeResourceLabel {
    position:           absolute;
    // Set top so that text is centered vertically based on font size.
    top:                calc(-2rem - 18rem * (var(--fontScale) - 1));
    left:               0px;
    bottom:             0px;
    right:              0px;
    font-size:          var(--fontSizeS)
}

.resourceLocatorInfomodeBuildingColor {
    flex-grow:          0;
    flex-shrink:        0;
}
