.resourceLocatorSelectDeselectRow {
    display:                        flex;
    flex-direction:                 row;
    align-items:                    center;
    margin-top:                     0rem;
    margin-left:                    0rem;
    margin-right:                   0rem;
    margin-bottom:                  0rem;
}

.resourceLocatorSelectDeselectButton {
    padding-top:                    4rem;
    padding-left:                   4rem;
    padding-right:                  4rem;
    padding-bottom:                 3rem;
    border-top-left-radius:         4rem 4rem;
    border-top-right-radius:        4rem 4rem;
    border-bottom-left-radius:      4rem 4rem;
    border-bottom-right-radius:     4rem 4rem;
    line-height:                    110%;
    flex-grow:                      1;
    margin-left:                    10rem;
    margin-right:                   10rem;
    width:                          0%;     // Forces both buttons to be same width.
    color:                          rgba(255, 255, 255, 1);
    background-color:               rgba(128, 128, 128, 1);
    font-size:                      var(--fontSizeS);
}

.resourceLocatorSelectDeselectButton:hover {
    background-color:               rgba(154, 154, 154, 1);
}
